@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  --background-btn-price: hsl(158, 36%, 37%);
  --background-btn-price: hsl(158, 36%, 37%); /* dark green hover active */
  --bg: hsl(30, 38%, 92%);
  --text-title: hsl(212, 21%, 14%);
  --para: hsl(228, 12%, 48%);
  --card-bg: hsl(0, 0%, 100%);
  --font-size: 15px;
  --font-family1: "Montserrat", sans-serif;
  --font-family2: "Fraunces", sans-serif;
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Inter";
  min-height: 100vh;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* image */
img.img {
  border-radius: 20px 0 0 20px;
  width: 340px;
}

/* card */
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45em;
  height: 32em;
  background-color: var(--card-bg);
  color: var(--text);
  border-radius: 25px;

  /* max-width: 500px; */
  margin: 0 auto;
}

.rightimg {
  padding: 0 0 0 22px;
}

.info {

}

.title {
  font-family: var(--font-family1);
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 5px;
}

.name {
  font-family: var(--font-family2);
  padding-top: 0;
  font-size: 50px;
  display: flex;
  flex-wrap: nowrap;
}

.text {
  padding: 0 45px 0 0;
  font-family: var(--font-family1);
  color:  var(--para);
}

.price {
  display: flex;
  padding-bottom: 8px;
}

.reduprice {
  font-size: 40px;
  color: var(--background-btn-price);
  font-family: var(--font-family2);
}

.orgprice {
  font-size: 18px;
  padding-left: 15px;
  color: var(--para);
  font-family: var(--font-family2);
  display: flex;
  align-items: center;
  text-decoration: line-through;
}

/* .btn {
  line-height: 25px;
}

.btn::before {
  content: "🔎";
} */

.btn {
  background-color: var(--background-btn-price);
  color: var(--bg);
  width: 20rem;
  padding: 5px;
  border-radius: 8px;
}

.btn span.icon{
  background: url("") no-repeat left center;
  background-color: var(--bg);
  width: 10px;
  height: 40px;
}

.footer {
  font-size: 11px;
  text-align: center;
}

.footer a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  .card{
    display: flex;
    flex-direction: column;
    width: 35em;
    height: 60em;
  }
}

@media screen and (max-width: 425px) {
  img.img {
    /* background-image: url("./images/image-product-mobile.jpg"); */
    /* border-radius: 20px 0 0 20px; */
    width: 215px;
  }

  .card{
    display: flex;
    flex-direction: column;
    width: 35em;
    height: 58em;
  }

  .leftimg{
    background: url("./images/image-product-mobile.jpg") no-repeat;
    background-size: 300px 100px;
  }

  .title{
    font-size: 30px;
    letter-spacing: 8px;
  }

  .text{
    padding: 10px 45px 10px 0;
    font-size: 25px;
  }

  .rightimg{
    padding: 8px 0 0 22px;
  }

  .name{
    padding: 15px 15px 0 0;
  }

  .btn{
    width: 32rem;
  }
}

@media screen and (width: 1440px) {

}
